<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="/static/cleditor/jquery.cleditor.js" referrerpolicy="origin"></script>
<link rel="stylesheet" href="/static/cleditor/jquery.cleditor.css">
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    $(document).ready(function(){
        var toolbarOptions = [
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'image'],
            [{ 'header': 1 }, { 'header': 2 }],               // custom button values
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'font': [] }],
            [{ 'align': [] }],
            ['clean']                                         // remove formatting button
        ];
        var quill = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions
            },
            placeholder: 'Compose an epic...',
            theme: 'snow'  // or 'bubble'
        });
        $('body').on('click', '.btn', function(e){
            e.preventDefault();
            var html = $("#editor").find(".ql-editor").html();
            $("#editor-textarea").html(html);
            $("#post-form").submit();
        })
    });
</script>
<style>
    .tox-notification {
        display: none !important;
    }
</style>
<h1>{{.title}}</h1>
<form id="post-form" action="/post/save" method="POST">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="title">
    </div>
    <div class="form-group">
        <label>Content</label>
        <div id="editor"></div>
        <textarea style="visibility:hidden;" id="editor-textarea" class="form-control" name="content"></textarea>
    </div>
    <input type="hidden" name="user_id" value="{{.User.Id}}">

    <input class="btn btn-success" type="submit">
</form>