<h1>{{.title}}</h1>

<form action="/gallery/add-image-to-portfolio" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label>Добавить фото</label>
        <input class="form-control" type="file" name="image">
    </div>
    <input type="hidden" name="id" value="{{.User.Id}}">

    <input class="btn btn-success" type="submit">
</form>

{{range .ImageList}}
    <div class="portfolio-item">
        <img alt="" src="https://fotokolo-local.s3.eu-central-1.amazonaws.com/{{.Filepath}}">
    </div>
{{end}}