<h1>{{.title}}</h1>
<style>
    .post-item {
        margin-top: 10px;
        margin-bottom: 20px;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 10px;
    }

    .post-content {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
{{range .Posts}}
    <div class="post-item" data-id="{{.Id}}">
        <h2>
            <a href="/post/view?id={{.Id}}">{{.Title}} #{{.Id}}</a>
        </h2>
        <div class="post-content">
            {{str2html .Content}}
        </div>
    </div>
{{end}}